<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="button_Voltar()">
        <ion-icon slot="" name="arrow-back-outline"></ion-icon>     
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastrar</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

<div id="inp_nome1">
  <ion-list>
    <ion-item>
      <ion-label >Marca:</ion-label>
      
      <ion-select value="12">
              <ion-select-option value=1>Chevrolet</ion-select-option>
              <ion-select-option value=2>Fiat</ion-select-option>
              <ion-select-option value=3>Volkswagen</ion-select-option>
              <ion-select-option value=4>Ford</ion-select-option>
              <ion-select-option value=5>Renault</ion-select-option>
              <ion-select-option value=6>Hyundai</ion-select-option>
              <ion-select-option value=7>Toyota</ion-select-option>
              <ion-select-option value=8>Honda</ion-select-option>
              <ion-select-option value=9>Citroem</ion-select-option>
              <ion-select-option value=10>Audi</ion-select-option>
              <ion-select-option value=11>Jeep</ion-select-option>
              <ion-select-option value=12>Nissam</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>   
</div> 

<div id="inp_nome1">
<ion-list>  
  <ion-item>
    <ion-label >Marca:</ion-label>
    
    <ion-select value="12">
            <ion-select-option value=1>January</ion-select-option>
            <ion-select-option value=2>February</ion-select-option>
            <ion-select-option value=3>March</ion-select-option>
            <ion-select-option value=4>April</ion-select-option>
            <ion-select-option value=5>May</ion-select-option>
            <ion-select-option value=6>June</ion-select-option>
            <ion-select-option value=7>July</ion-select-option>
            <ion-select-option value=8>August</ion-select-option>
            <ion-select-option value=9>September</ion-select-option>
            <ion-select-option value=10>October</ion-select-option>
            <ion-select-option value=11>November</ion-select-option>
            <ion-select-option value=12>Deu pau</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
</div>

  <ion-item id="inp_nome1">
    <ion-label position="floating">Descrição:</ion-label>
    <ion-textarea placeholder="placeholder"></ion-textarea>
  </ion-item>

  <ion-item id="inp_nome">
    <ion-label type="number" position="fixed">Preço:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <div class="buttonCentralize">
  <ion-button class="butCadastrar" color="warning">Cadastrar</ion-button>
  </div>


</ion-content>
