<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateTo_Principal()">
        <ion-icon slot="" name="arrow-back-outline"></ion-icon>     
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastrar</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
<div id="inp_nome1">
  <ion-list>
    <ion-item>
      <ion-label>Marca:</ion-label>
      <ion-select [(ngModel)]="brand.marca" (ionChange)="brandChange($event)" interface="popover">
        <ion-select-option *ngFor="let every_brand of all_brands" [value]="every_brand">{{every_brand}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>  
</div> 

<div id="inp_nome1">
<ion-list>  
  <ion-item>
    <ion-label >Modelo:</ion-label>
    
    <ion-select [(ngModel)]="model.modelo" (ionChange)="modelChange($event)" interface="popover">
      <ion-select-option *ngFor="let every_model of all_brand_models" [value]="every_model">{{every_model}}</ion-select-option>   
    </ion-select>
  </ion-item>
</ion-list>
</div>

    <ion-card>
      <img src={{model.foto}}>
      <ion-card-header>
        <ion-item>
          <ion-label position="floating"><h2>Descrição:</h2></ion-label>
          <ion-textarea [(ngModel)]="car.descricao" placeholder="adicione uma descrição"></ion-textarea>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    
  <ion-item id="inp_nome">
    <ion-label position="fixed">Preço:</ion-label>
    <ion-input [(ngModel)]="car.preco" type="number"></ion-input>
  </ion-item>
  
  <div class="buttonCentralize">
  <ion-button class="butCadastrar" color="warning" (click)="create()">Cadastrar</ion-button>
  </div>
</ion-content>
