ion-toolbar{
    text-align: center;
    padding-top: 100px;
}
#inp_nome{
    padding-top: 22px;
    padding-bottom: 16px;
}

#inp_nome1{
    padding-top: 22px;
    
}

.buttonCentralize{
    text-align: center;
    padding-top: 19px;
}
#voltar{
    padding-left: px;
}
#labLeft{
    padding-left: 50px;
}
#labRight{
    padding-right: 191px;
}
#color{
    color:greenyellow;

}
#buttonD{
    color: greenyellow;
    border-color: greenyellow;
}