<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="button_Voltar()">
        <ion-icon slot="" name="arrow-back-outline"></ion-icon>     
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastrar</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

<div id="inp_nome1">
  <ion-list>
    <ion-item>
      <ion-label >Marca:</ion-label>
      
      <ion-select interface="action-sheet" >
        <ion-select-option *ngFor="let brand of all_brands" value="brand">{{brand}}</ion-select-option>
              
      </ion-select>
    </ion-item>
  </ion-list>   
</div> 

<div id="inp_nome1">
<ion-list>  
  <ion-item>
    <ion-label >Modelo:</ion-label>
    
    <ion-select [(ngModel)]="model.modelo">
      <ion-select-option></ion-select-option>

            
    </ion-select>
  </ion-item>
</ion-list>
</div>

<!-- e se termina com <ion-item id="inp_nome1">
    <ion-label position="floating">Descrição:</ion-label>
    <ion-textarea placeholder="placeholder"></ion-textarea>
  </ion-item>
 
    <ion-avatar class="ion-margin-star">
      <img src="https://w7.pngwing.com/pngs/466/83/png-transparent-fiat-uno-car-suzuki-ignis-fiat-600-compact-car-car-subcompact-car.png" />
    </ion-avatar>-->

    <ion-card>
      <img src={{model.foto}}>

      <ion-card-header>
        <ion-item>
          <ion-label position="floating"><h2>Descrição:</h2></ion-label>
          <ion-textarea [(ngModel)]="car.descricao" placeholder="placeholder"></ion-textarea>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    

  <ion-item id="inp_nome">
    <ion-label position="fixed">Preço:</ion-label>
    <ion-input [(ngModel)]="car.preco" type="number"></ion-input>
  </ion-item>
  
  <div class="buttonCentralize">
  <ion-button class="butCadastrar" color="warning" (click)="create()">Cadastrar</ion-button>
  </div>


</ion-content>
