ion-toolbar{
    text-align: center;
    padding-top: 100px;
}
#inp_nome{
    padding-top: 22px;
    padding-bottom: 16px;
}

#inp_nome1{
    padding-top: 22px;
}

.buttonCentralize{
    text-align: center;
    padding-top: 19px;
}

#labLeft{
    padding-left: 50px;
}
#labRight{
    padding-right: 191px;
}
#color{
    color:#9bd6ba;
}
#paddingTitle{
    color: #9bd6ba;
    padding-left: 0;
}
#paddingButton{
    padding-right: 0;
}
#color1{
    color: #009e51;
}
#buttonD{
    color: #009e51;
    border-color: greenyellow;
}
ion-select{
    color: rgb(30, 255, 0);
  }
.select-interface-option {
    color: red;
  }

  