ion-toolbar{
    size: 50px;
}
#adicionarCarro {
    border-radius: 800%;
    
}
#precoCard{
    text-align: left;
    color:greenyellow;
}
#buttonD{
    color: greenyellow;
    border-color: greenyellow;
}

#color{
    color:greenyellow;
}
.background{
    background-color: rgb(0, 0, 0);
}

