
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" color="greenyellow" >
      <ion-button id="color" (click)="navigateTo_Cadastro()"color="greenyellow">
        <ion-icon name="add-outline"></ion-icon>     
      </ion-button>
    </ion-buttons>
    <ion-title id="color">Localiza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngFor="let every_brand of carros">
    <ion-slides *ngFor="let every_model of every_brand['modelos']">
      <ion-slide *ngFor="let every_car of every_model['carros']; let i = index">
        <div id="card">
          <ion-card>
            <img src="{{every_model.foto}}" (click)="navigateTo_TelaCompra(
              {
              'marca': every_brand.nome, 
              'modelo': every_model.nome, 
              'foto': every_model.foto, 'descricao': every_car.descricao, 'preco':every_car.preco
            })" />

            <ion-card-header >
              <ion-card-subtitle>{{every_brand.nome}}</ion-card-subtitle>
              <ion-card-title >{{every_model.nome}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>{{every_car.descricao}}</ion-card-content>

            <h1 id="precoCard">R${{every_car.preco}}</h1>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </ng-container>
</ion-content>
