ion-toolbar{
    size: 50px;
}
#adicionarCarro {
    border-radius: 800%;
    
}
#precoCard{
    text-align: left;
    color:#009e51;
    padding-left: 10px;
}
#buttonD{
    color: #009e51;
    border-color: #009e51;
}

#color{
    color:#9bd6ba;
}
.background{
    background-color: rgb(0, 0, 0);
}

.crime{
    
    color: white;
    display:inline;
    font-size: 15px;
    padding-left: 0;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }