<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="button_Voltar()">
        <ion-icon slot="" name="arrow-back-outline"></ion-icon>     
      </ion-button>
    </ion-buttons>
    <ion-title>Compra</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-item id="inp_padding">
      <ion-img src="https://secure-developments.com/commonwealth/brasil/gm_forms/assets/front/images/jellys/61eb1d424183d.png"></ion-img>
  </ion-item>
  <div id="inp_padding">
    <label><h3>Selicione o Periodo para o aluguel</h3></label>
      <ion-datetime value="2012-12-15T13:47:20.789" size="start"></ion-datetime>
  </div>
</ion-content>
