ion-toolbar{
    text-align: center;
}

#inp_padding{
    padding-top: 22px;
    text-align: center;
    align-items: center;
    align-content: center;
}

#color{
    color:greenyellow;

}
   
.divCompra{
    text-align: center;
}
.label{
    color: greenyellow;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.transparent{
    background-color: rgba(0, 0, 0, 0.4);
}

#buttonD{
    color: greenyellow;
    border-color: greenyellow;
}
