<script type="module">
  import { alertController } from 'https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/index.esm.js';
  window.alertController = alertController;
</script>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" color="greenyellow">
      <ion-button id="color" (click)="button_Voltar()" color="greenyellow">
        <ion-icon slot="" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="color">Alugue</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>

  <ion-content [fullscreen]="true">
      <ion-img class="transparent" src="{{a_car.car.foto}}"></ion-img>
      <ion-label>{{a_car.car.marca}}</ion-label>
      <ion-text>{{a_car.car.modelo}}</ion-text>
      <ion-text>{{a_car.car.descricao}}</ion-text>


    <ion-item id="open-initialdate-modal">
      <ion-icon icon="calendar-outline" slot="start"></ion-icon>
      <ion-label>Data de retirada:</ion-label>
      <ion-text slot="end">{{initial_date}}</ion-text>
    </ion-item>

    <ion-item id="open-finaldate-modal" *ngIf="initial_date_not_null">
      <ion-icon icon="calendar" slot="start"></ion-icon>
      <ion-label>Data de devolução:</ion-label>
      <ion-text slot="end">{{final_date}}</ion-text>
    </ion-item>

    <ion-modal trigger="open-initialdate-modal">
      <ng-template>
        <ion-content>
          <ion-datetime min={{min_initial_date}} [value]="initial_date_value" #datetime size="cover" 
            (ionChange)="initialdate_changed(datetime.value)" showDefaultButtons="true">
          </ion-datetime>

        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal trigger="open-finaldate-modal" *ngIf="initial_date_not_null" >
      <ng-template>
        <ion-content>
          <ion-datetime min="{{min_final_date}}" [value]="final_date_value" #datetime size="cover"
            (ionChange)="finaldate_changed(datetime.value)" showDefaultButtons="true">
          </ion-datetime>

        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-button *ngIf="final_date_not_null" expand="block" fill="outline" id="buttonD" color="greenyellow" 
    (click)="presentAlert()">Alugar
    </ion-button>

  </ion-content>