ion-toolbar{
    text-align: center;
}

#inp_padding{
    padding-top: 22px;
    text-align: center;
    align-items: center;
    align-content: center;
}

#color{
    color:#9bd6ba;

}
   
.divCompra{
    text-align: center;
    padding: 0px;
}
.label{
    color: #9bd6ba;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.transparent{
    background-color: rgba(0, 0, 0, 0.4);
}

#buttonD{
    color: #009e51;
    border-color: #009e51;
}

#padding{
    padding-bottom:20px;
}
#colorDateTime{
    color: #009e51;
}
ion-datetime{
    color: #9bd6ba;
}
ion-label{
    color: #9bd6ba;
}
.li{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
