ion-toolbar{
    text-align: center;
}

#inp_padding{
    padding-top: 22px;
    text-align: center;
    align-items: center;
    align-content: center;
}

#color{
    background-color:greenyellow;

}
   
.divCompra{
    text-align: center;
}
